<?php
/*
 * this 
 */
?>
<head>
	<!--  chamando apenas nesse phtml lembrando que nesse caso não esta utilizando o fallback -->
    <link href="<?php echo Mage::getBaseUrl('skin')?>/frontend/base/default/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo Mage::getBaseUrl('skin')?>/frontend/base/default/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>
<?php if(!$this->_prepareBannerAndImages()): ?> 
	<!-- #TODO essa area seria reservada para quando banner ou não existi ou esta desativado	 -->
	<p>Banner não setado</p>
<?php else: ?>
<?php  $info = $this->getBannerAndImagesInfo(); ?>

<div class="row">
	 <!--  caso queira saber o que tem no array -->
	<?php #print_r($info['banner']->getData()) ?>
	<img src=" <?php echo $this->getBannerImage($info['banner']['banner']); ?> ">

</div>

<div class="row">
	<?php foreach($info['images'] as $_image): ?>

		<?php #print_r($_image->getData()); ?>
		<div class="col-md-4" ><img  src=" <?php echo $this->getImages($_image->getImage()); ?> "></div>
	   
	<?php endforeach; ?>

</div>
  
<?php endif; ?> 